doctype html
html
  head
    title SWA Price Drop Bot
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(href="https://fonts.googleapis.com/css?family=Material+Icons|Roboto:300,400,500,700|Fjalla+One" rel="stylesheet")
    link(rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-orange.min.css")
    link(rel="stylesheet" href="/style.css")
    link(rel='shortcut icon', href='/favicon.ico?ver=2', type='image/x-icon')
    link(rel='icon', href='/favicon.ico?ver=2', type='image/x-icon')
    meta(name="theme-color" content="#3f51b5")

    script(defer='', src='https://code.getmdl.io/1.3.0/material.min.js')
  body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header
        .mdl-layout__header-row
          a.mdl-layout-title(href="/")
            img.logo(src="/logo.png" alt="SWABot")
          .mdl-layout-spacer
          if auth.user
            nav.mdl-navigation
              a.mdl-navigation__link(href='/sign-out' alt="Logout")
                i.material-icons exit_to_app
      main.mdl-layout__content
        .page-content
          block content
