body {
  background: #cccccc;
}

.logo {
  max-height: 60px;
  background: #cccccc;
  padding: 27px 10px 10px;
  position: relative;
  z-index: 0;
}

.page-content {
  margin-top:22px;
}

.mdl-card {
  min-height: auto;
}

.mdl-cell {
  align-items: center;
  justify-content: center;
  display: flex;
}

.bottom-right {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}

.header-card {
  text-align: center;
  font-size: 1.5em;
  padding: 6px 4px 2px;
  width: 512px;
}

.wide-card {
  width: 512px;
}

.flight {
  text-align: center;
}

.call-signs {
  font-size: 4em;
}

.call-signs span {
  padding: 0 10px;
}

.call-signs i {
  font-size: 46px;
}

.ticket {
  font-family: 'Fjalla One', sans-serif;
}

.flight-notification {
  background: #e91716;
  color: #ffffff;
}

.flight-prices {
  background: #757575;
  color: #ffffff;
}

a.flight-prices {
  color: #ffffff;
}

.flight-info {
  font-size: 1.2em;
  margin-top: 20px;
  line-height: 26px;
}

.flight-info .ticket {
  font-size: 1.6em;
}

.info-group {
  width: 50%;
  display: inline-block;
}

.info-group .price {
  font-size: 1.5em;
}

#from, #to {
  text-transform: uppercase;
}

.mdl-textfield {
  margin-bottom: 20px;
}

.mdl-textfield span.help {
  display: none;
  margin-top: 3px;
  position: absolute;
  font-size: 12px;
}
.mdl-textfield input:focus + label + span.help {
  display: inline;
}
.mdl-textfield input:focus:valid + label + span.help {
  color: #008522;
}
.mdl-textfield input:focus:invalid + label + span.help {
  color: #d5152e;
}

.mdl-textfield code.example {
  background: #eeeeee;
  border: 1px solid black;
  color: black;
  margin-left: 4px;
  padding: 1px 3px;
}

@media screen and (max-width: 1024px) {
  .mdl-layout__header-row {
    padding: 0 16px 0 16px;
  }
}
